body {
    font-family: 'Roboto Regular', Helvetica, Arial, Lucida, sans-serif;
    background-color: #6d2b2b;
    line-height: 1.7em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
    background: #1e1e2e;
    font-size: 1.2em;
    color: #ffffff;

}

#connectWalletBtn:active {
    background-color: #2ec27eff;
    font-weight: bold;
    font-size: 1.2em; 
}


.container {
    width: 80%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
    text-align: center;
    margin-bottom: 10px;
}

button {
    cursor: pointer;
}

#votingStation {
    height: 80vh;
}

#connectMetamask,
#votingStation,
#admin {
    text-align: center;
}

#connectWalletMessage {
    font-weight: bold;
    color: #2ec27eff;
    margin-bottom: 20px;
}



#votingStation,
#admin {
    margin-top: 20px;
}

.timerMessage {
    font-size: 30px;
    font-weight: bold;
}

#mainBoard {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
}

table,
th,
td {
    border: solid 3px #1565c0;
    border-radius: 5px;
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #050225;
}

#voteForm {
    margin-top: 20px;
    text-align: center;
}

#voteForm p {
    font-size: 16px;
    margin-bottom: 10px;
}

#voteForm input {
    padding: 5px;
    margin-right: 10px;
}



#result {
    margin-top: 20px;
}

#admin {
    margin-top: 40px;
}

#admin p {
    font-weight: bold;
    margin-bottom: 10px;
}

#admin div {
    margin-top: 10px;
}

#admin input,
#admin button {
    margin-top: 5px;
}


.container {
    width: 80%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    background-color: #1976d2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #1565c0;
}

/* Add these rules for input fields */
input[type="text"],
input[type="number"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

/* Add these rules for input placeholders */
input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #535353;
}