/* CSS HEX */
:root {
    --prussian-blue: #102537ff;
    --oxford-blue: #111A2Eff;
    --oxford-blue-2: #1D283Cff;
    --prussian-blue-2: #24344Cff;
    --persian-green: #019B83ff;
    --blue-ncs: #0684C2ff;
    --paynes-gray: #5D7084ff;
    --oxford-blue-3: #172237ff;
    --rusty-red: #CA323Eff;
    --cerulean: #077CB2ff;
}

body {
    font-family: 'Roboto Regular', Helvetica, Arial, Lucida, sans-serif;
    background-color: var(--prussian-blue);
    line-height: 1.7em;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
    background: var(--oxford-blue);
    font-size: 1.2em;
    color: #ffffff;

}

#connectWalletBtn {
    background-color: var(--blue-ncs);
}

#connectWalletBtn:active {
    background-color: var(--persian-green);
    font-weight: bold;
    font-size: 1.2em;
}

#connectWalletMessageSpan {
    display: block;
    word-break: break-all;
    font-weight: bold;
    font-size: 0.7em;
    margin-top: 10px;
}

.container {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-sizing: border-box;
    /* Ensure padding and border don't increase width */

}

h1,
h2 {
    text-align: center;
}

h3 {
    text-align: left;
    border-radius: 12px;
    border: 3px solid var(--blue-ncs);
    background-color: var(--prussian-blue);
    padding: 10px;
    width: 60%;
}

h3 p {
    text-align: center;
}

#votingStation {
    height: 95vh;
}

#connectMetamask,
#votingStation {
    text-align: center;
}

#admin {
    text-align: right;
    max-width: 600px;
}

.panel {
    border: solid 3px var(--blue-ncs);
    background-color: var(--oxford-blue-2);
    padding: 10px;
    margin-top: 30px;
    border-radius: 12px;
    display: none;
    text-align: center;
}

.panel p {
    font-weight: bold;
    margin-top: 60px;
    text-align: left;
}

.panel div {
    margin-top: 10px;
    padding: 0 10px;

}

.panel input {
    color: #1565c0;
}

#topBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* Evenly distribute elements */
    align-items: center;
    /* Center items vertically */
    border: 3px solid var(--blue-ncs);
    border-radius: 12px;
}

#votingStation {
    margin-top: 20px;
}

.timerMessage {
    font-size: 30px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    border: 3px solid var(--blue-ncs);
    background-color: var(--prussian-blue);
    padding: 0 10px;
    margin-top: 20px;

}

th,
td {
    padding: 8px;
    text-align: center;
}

#voteForm {
    margin-top: 20px;
    text-align: right;
}

#voteForm p {
    font-size: 16px;
    margin-bottom: 10px;
}

#result {
    margin-top: 20px;
}

button {
    cursor: pointer;
    background-color: #1976d2;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1em;
}

button:hover {
    background-color: #1565c0;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    border: 3px solid var(--blue-ncs);
    border-radius: 12px;
    font-size: 1.1em;
    margin-top: 10px;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: var(--persian-green);
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #535353;
}

hr.custom-line {
    border: 1px dashed #1565c0;
    height: 1px;
    background-color: var(--persian-green);
    width: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#resetElectionButton {
    background-color: var(--rusty-red);
}

#logo {
    width: 96px;
    height: auto;
    margin-bottom: 10px;
}


