/* CSS HEX */
:root {
    --prussian-blue: #102537ff;
    --oxford-blue: #111A2Eff;
    --oxford-blue-2: #1D283Cff;
    --prussian-blue-2: #24344Cff;
    --persian-green: #019B83ff;
    --blue-ncs: #0684C2ff;
    --paynes-gray: #5D7084ff;
    --oxford-blue-3: #172237ff;
    --rusty-red: #CA323Eff;
    --cerulean: #077CB2ff;
}


body {
    font-family: 'Roboto Regular', Helvetica, Arial, Lucida, sans-serif;
    background-color: var(--prussian-blue);
    line-height: 1.7em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
    background: var(--oxford-blue);
    font-size: 1.2em;
    color: #ffffff;

}

#connectWalletBtn {
    background-color: var(--blue-ncs);
}

#connectWalletBtn:active {
    background-color: var(--persian-green);
    font-weight: bold;
    font-size: 1.2em;
}

#connectWalletMessageSpan {
    display: block;
    word-break: break-all;
    background-color: var(--persian-green);
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
}

.container {
    width: 90%;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

h3 {
    text-align: left;
    border-radius: 12px;
    border: 3px solid var(--blue-ncs);
    background-color: var(--prussian-blue);
    padding: 12px;
    width: 70%;
}

h3 p {
    text-align: center;
}

#votingStation {
    height: 95vh;
}

#connectMetamask,
#votingStation,
#admin {
    text-align: center;
}

#admin {
    margin-bottom: 10px;
    border-radius: 12px;
    border: solid 3px var(--blue-ncs);
    background-color: var(--oxford-blue-2);
    padding: 30px;
}



#votingStation,
#admin {
    margin-top: 20px;
}

.timerMessage {
    font-size: 30px;
    font-weight: bold;
}

#mainBoard {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: separate;
    /* Change to separate */
    border-spacing: 0;
    /* Add this line */
    border-radius: 12px;
    border: 3px solid var(--blue-ncs);
    background-color: var(--prussian-blue);
    padding: 30px;

}

th,
td {
    padding: 8px;
    text-align: center;
}



#voteForm {
    margin-top: 20px;
    text-align: right;
}

#voteForm p {
    font-size: 16px;
    margin-bottom: 10px;
}





#result {
    margin-top: 20px;
}

#admin {
    margin-top: 60px;
    margin-bottom: 60px;
}

#admin p {
    font-weight: bold;
    margin-bottom: 10px;
}

#admin div {
    margin-top: 10px;
}

#admin input,
#admin button {
    margin-top: 10px;
}

button {
    cursor: pointer;
    background-color: #1976d2;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    padding: 8px 16px;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1em;
}

button:hover {
    background-color: #1565c0;
}

/* Add these rules for input fields */
input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 3px solid var(--blue-ncs);
    border-radius: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: var(--persian-green); /* Change the border color when focused */
    outline: none; /* Remove the default outline */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for visual feedback */
}

/* Add these rules for input placeholders */
input[type="text"]::placeholder,
input[type="number"]::placeholder {
    color: #535353;
}

hr.custom-line {
    border: 1px dashed #1565c0;
    /* Set the color of the line */
    height: 1px;
    /* Set the height of the line */
    background-color: var(--persian-green);
    width: 30%;
    margin-top: 60px;
    margin-bottom: 60px;
}

#resetElectionButton {
    background-color: var(--rusty-red);
}